/* src/components/TextEntry.css */

.text-entry-card {
    background-color: #f9f9f9;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-entry-card:hover {
    transform: scale(1.05);
}

.audio-player {
    width: 100%;
    margin-bottom: 8px;
}

.text {
    font-size: 14px;
    color: #333;
    flex-grow: 1;
}