/* EntriesManager.css */

/* Estructura general */
.entries-manager {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: auto;
    overflow-y: auto;
}

.entries-selector h3 {
    margin-bottom: 12px;
    font-size: 18px;
    color: #333;
    text-align: center;
}

.wrapper {
    width: 100%;
    height: 300px;
    /* Ajusta la altura según necesites */
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.inner {
    --w: 100px;
    --h: 150px;
    --translateZ: calc((var(--w) + var(--h)) + 0px);
    --rotateX: -15deg;
    --perspective: 1000px;
    position: absolute;
    width: var(--w);
    height: var(--h);
    top: 25%;
    left: calc(50% - (var(--w) / 2) - 2.5px);
    z-index: 2;
    transform-style: preserve-3d;
}

.card {
    position: absolute;
    border: 2px solid rgba(var(--color-card));
    border-radius: 12px;
    overflow: hidden;
    inset: 0;
    transform: rotateY(calc((360deg / var(--quantity)) * var(--index))) translateZ(var(--translateZ));
    cursor: pointer;
    transition: transform 0.3s;
}

.card:hover {
    transform: rotateY(calc((360deg / var(--quantity)) * var(--index))) translateZ(var(--translateZ)) scale(1.05);
}

.card.selected {
    border-color: rgba(52, 152, 219, 1);
    /* Color azul para las tarjetas seleccionadas */
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #0000 radial-gradient(circle,
            rgba(var(--color-card), 0.2) 0%,
            rgba(var(--color-card), 0.6) 80%,
            rgba(var(--color-card), 0.9) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.selected-overlay {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: rgba(52, 152, 219, 0.8);
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    z-index: 3;
}

.inner:hover {
    animation-play-state: paused;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    z-index: 3;
    user-select: none;
    opacity: 0;
    transition: opacity 0.3s;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.wrapper:hover .arrow {
    opacity: 1;
}